body{
    background:#eee;
}
.file-box {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .file-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .file-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  